.ui.cards.listOfStudents__cardGroup div.listOfStudents__individualCard {
  display: inline-block;
  height: 103px;
  width: 110px;
  margin: 0 5px;
  border: 1px solid #fffff0;
  visibility: visible;
  transition: all 500ms ease-in-out;
}
.listOfStudents__date {
  padding: 0 15%;
}
.ui.toggle.checkbox.radioBoxEnabled {
  width: 100%;
  padding: 15% 5%;
}

.ui.cards.listOfStudents__cardGroup div.listOfStudents__individualCard.disabled {
visibility: hidden;
}

.ui.toggle.checkbox .box, .ui.toggle.checkbox label {
  color: #ffffff !important;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 500ms ease-in-out;
}
.ui.toggle.checkbox .box, .ui.toggle.checkbox label:hover{
  color: #ffffff;
  font-size: 1.1em;
}
.ratings {
  padding: 0 10%;
}
.ui.star.rating .icon {
  color: #fffea4 !important;
}
