.wrapperForParents {
  background: linear-gradient(#017176, #75d0d4);
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 20px;
}

.markTag {
  width: 100% !important;
  left: calc(-0.3714em - 1.2em) !important;
}
